@charset "UTF-8";



:root {
    --font-titulo:'Libre Baskerville';
    --font-sub-titulo:'Raleway';
    --font-corpo:'Inter';
    
    --cor1: black;
    --cor2: #AB9C65;
    --cor3: #BFA07A;
    --cor4: #736049;
    --cor5: #403728;

}

*{
    padding: 0px;
    margin: 0px;
    

    
    
    
}

header{
    background-color: black;
}

body{
    overflow-x: hidden;}



    nav{
    
    text-align: center;
    font-family: var(--font-titulo);
    color: white;
    padding-top: 20px;
    
    
    
    

}
nav a:hover{
    text-decoration: none;
    background-color:#6aacd4 ;
    border-radius: 5%;
    


}



#imagemhome1{
    background-image: url(imagens/home-pag1.png);
   
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#areas-de-atucao{
    background-image: url(imagens/home-areas-de-atuacao.png) ;
    background-color: #cccccc;
    background-repeat: no-repeat;
  
    
 }

 #oescritorio{
  
    background-color:var(--cor2);
    
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    
    
   
   }

 #assesoriajuridica{
    background-color:var(--cor1);
    
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    
  }

  #profissional{
    background-color: black;

  }

 #pqcontratar{background-image:url(imagens/home-areas-de-atuacao.png);

}
 #caixaspqfm{
    color:var(--cor2);
    border: 2px solid var(--cor2) ;
    margin: 15px;
    font-family: var(--font-corpo);
}
#contatos{
    background-color: black;
}
